* {
  margin: 0;
  padding: 0; }

/* body,main,p h2,h3 */
body {
  background-color: #3c5464;
  color: #000;
  padding: 30px 0px 0px 0px; }

main {
  margin: 60px 0px 40px 0px;
  overflow: hidden; }

p {
  font-size: 20px;
  line-height: 30px;
  font-family: "Play", sans-serif;
  color: white; }

h2 {
  text-align: center;
  margin-bottom: 40px; }

h3 {
  font-size: 40px;
  margin-bottom: 15px; }

/* header*/
.contenedorlogo {
  display: flex;
  justify-content: center; }
  .contenedorlogo .logo {
    width: 300px;
    height: 300px;
    border: solid;
    margin-top: 100px; }

h1 {
  font-family: 'Limelight', cursive;
  font-size: 80px;
  font-weight: bolder;
  text-align: center;
  text-decoration-line: underline;
  word-spacing: 10px;
  letter-spacing: 6px;
  animation-name: backInDown;
  animation-duration: 2s; }

.subtitulodepagina {
  font-size: 25px;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 85px;
  animation-name: backInLeft;
  animation-duration: 2s;
  color: black; }

/* Menu */
.headernav {
  padding: 25px;
  background-color: #aacfc8;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; }
  .headernav .headernav__menu {
    display: flex;
    margin-left: 250px; }
    .headernav .headernav__menu .menu__links {
      list-style: none;
      width: 25%; }
    .headernav .headernav__menu .menu__linksstore {
      list-style: none;
      width: 25%; }
    .headernav .headernav__menu .links__ofmenu {
      color: #000;
      font-family: 'Passion One', cursive;
      font-size: 24px;
      text-decoration: none;
      transition: width 2s;
      letter-spacing: 1px; }
    .headernav .headernav__menu .linksstore__list {
      position: absolute;
      display: none; }
      .headernav .headernav__menu .linksstore__list .list__items {
        display: inline;
        margin-right: 20px;
        height: 100%;
        align-items: center;
        text-align: center; }

.menu__linksstore:hover .linksstore__list {
  display: block; }

/* Index */
.itemOfCarousel {
  width: 600px;
  height: 600px; }

.conteinerOfCarousel {
  margin: 0px 127px 50px 155px; }

.articleIndex {
  display: flex;
  flex-direction: column;
  overflow: hidden; }
  .articleIndex .articleIndex__wrapper {
    display: flex;
    justify-content: center;
    margin: 15px; }
  .articleIndex .wrapper__img {
    width: 400px;
    height: 400px;
    border: double;
    color: #e9e9e9; }

.promociones {
  display: flex;
  justify-content: center; }

/* quienes */
.history {
  padding: 15px 60px 20px 60px; }
  .history .history__title {
    text-align: center;
    margin-bottom: 40px; }
  .history .history__text {
    font-size: 20px;
    line-height: 30px;
    font-family: 'Play', sans-serif;
    color: white; }
  .history .history__containerLocalImage {
    width: 100%;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: auto;
    column-gap: 15px;
    row-gap: 15px;
    justify-content: center;
    margin-top: 60px; }
    .history .history__containerLocalImage .containerLocalImage__image {
      width: 100%;
      border: double 2px #fcfffc;
      height: 100%;
      transition: transform .2s; }
    .history .history__containerLocalImage .containerLocalImage__image:hover {
      transform: scale(1.1, 1.1); }

/* preguntas frecuentes */
.contenedorDePreguntas {
  width: 80%;
  margin: auto;
  /* table de bootstrap */ }
  .contenedorDePreguntas .contenedorDePreguntas p {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 25px; }
  .contenedorDePreguntas .tituloDePreguntas {
    font-size: 40px;
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: underline;
    text-align: center;
    margin: 50px 0px 50px 0px; }

.contenedorDeVideos {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  row-gap: 40px;
  width: 80%;
  margin: auto; }
  .contenedorDeVideos .videos {
    border: solid 5px #ffd900;
    height: 300px;
    width: 100%; }

/* tienda */
.titleSectionOne, .titleSectionTwo, .titleSectionThree {
  color: #000444;
  font-weight: bolder;
  font-size: 40px;
  padding: 40px 0px 40px 0px;
  text-align: center; }

.titleSectionTwo {
  color: #fff176; }

.titleSectionThree {
  color: grey; }

.sectionOfStore {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  padding-bottom: 100px; }
  .sectionOfStore .sectionOfStore__container:hover .container__description {
    display: block; }
  .sectionOfStore .sectionOfStore__container {
    position: relative; }
    .sectionOfStore .sectionOfStore__container .container__item {
      width: 300px;
      height: 300px;
      border: double;
      color: chartreuse; }
    .sectionOfStore .sectionOfStore__container .container__infoSectionOne {
      color: #000444;
      font-weight: bolder; }
    .sectionOfStore .sectionOfStore__container .container__infoSectionTwo {
      color: #fff176;
      font-weight: bolder; }
    .sectionOfStore .sectionOfStore__container .container__infoSectionThree {
      color: grey;
      font-weight: bolder; }
    .sectionOfStore .sectionOfStore__container .botonSinStock {
      background-color: #aacfc8; }
    .sectionOfStore .sectionOfStore__container .container__description {
      display: none;
      position: absolute;
      top: 0;
      bottom: 20%;
      background: rgba(27, 27, 27, 0.5); }

/* Contacto */
.seccionContacto {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 30px;
  flex-wrap: wrap; }
  .seccionContacto .contactoInfoLocal {
    margin-top: 150px; }
  .seccionContacto .formulario_ {
    box-sizing: border-box;
    border: 2px black solid;
    width: 400px;
    padding: 30px;
    margin: auto;
    border-radius: 4px;
    background-color: #aacfc8; }
    .seccionContacto .formulario_ .formulario_ p {
      font-size: 24px;
      margin-bottom: 20px; }
    .seccionContacto .formulario_ .formularioDatos {
      padding: 10px;
      margin-bottom: 16px; }
  .seccionContacto .mapa {
    width: 600px;
    height: 450px;
    border: 2px solid black; }

/* footer */
.footerContainer {
  display: flex;
  justify-content: space-around;
  background: #aacfc8; }
  .footerContainer .section__titleOfSectionsFooter {
    color: black;
    font-size: 30px;
    /*  padding-bottom: 20px; */
    text-align: center; }
  .footerContainer .list__titleOfSectionsFooter, .footerContainer .section__titleOfSectionsFooterLast {
    text-align: left;
    color: black;
    font-size: 30px;
    padding-bottom: 5px; }
  .footerContainer .section__cardsAccepted {
    width: 400px;
    height: 180px; }
  .footerContainer .infoPlace__data {
    color: black; }
  .footerContainer .infoPlace__imageFooter {
    height: 40px;
    width: 40px; }
  .footerContainer .list__footerMenu {
    text-decoration: none;
    list-style: none; }
    .footerContainer .list__footerMenu .footerMenu__Links {
      color: black;
      text-decoration: none;
      list-style: none;
      font-size: 20px; }

@media only screen and (max-width: 768px) {
  body {
    background-color: #3c5464; }
  h1 {
    font-size: 60px; }
  .contenedorlogo .logo {
    margin-top: 5px; }
  .headernav {
    position: initial;
    text-align: -webkit-center; }
    .headernav .headernav__menu {
      display: block;
      margin-left: 0px; }
  .conteinerOfCarousel {
    margin: 0px 0px 50px 0px; }
    .conteinerOfCarousel .carousel-inner {
      width: 760px;
      height: 284px; }
  .articleIndex .articleIndex__wrapper .wrapper__img {
    width: 200px;
    height: 200px; }
  .imgPromo {
    width: 300px;
    height: 200px; }
  .history .history__containerLocalImage .containerLocalImage__image:hover {
    transform: scale(2.5, 2.5); }
  .sectionOfStore {
    display: block; }
    .sectionOfStore .sectionOfStore__container {
      margin-top: 25px; }
  .seccionContacto .contactoInfoLocal {
    margin: 25px 0px 15px 0px;
    width: 325px; }
    .seccionContacto .contactoInfoLocal .imgContact {
      width: 325px; }
  .seccionContacto .formulario_ {
    width: 324px;
    height: 554px;
    margin-bottom: 15px; }
    .seccionContacto .formulario_ .formularioDatos_ {
      width: 198px;
      height: 150px; }
  .seccionContacto .mapa {
    width: 320px; }
  .footerContainer {
    display: block;
    text-align: -webkit-center;
    width: 100%; }
    .footerContainer .footerContainer__section .section__titleOfSectionsFooterLast {
      text-align: center; }
    .footerContainer .footerContainer__section .list__titleOfSectionsFooter {
      text-align: center; }
    .footerContainer .footerContainer__section .section__cardsAccepted {
      width: 300px;
      height: 150px; } }

@media only screen and (max-width: 365px) {
  body {
    background-color: #3c5464; }
  h1 {
    font-size: 50px; }
  .contenedorlogo .logo {
    margin-top: 5px; }
  .headernav {
    position: initial;
    text-align: -webkit-center; }
    .headernav .headernav__menu {
      display: block;
      margin-left: 0px; }
  .articleIndex .articleIndex__wrapper .wrapper__img {
    width: 150px;
    height: 150px; }
  .imgPromo {
    width: 350px;
    height: 120px; }
  .conteinerOfCarousel {
    margin: 0px 0px 50px 0px; }
    .conteinerOfCarousel .carousel-inner {
      width: 360px;
      height: 150px; }
  .history .history__containerLocalImage .containerLocalImage__image:hover {
    transform: scale(3.3, 3.3); }
  .sectionOfStore {
    display: block; }
    .sectionOfStore .sectionOfStore__container {
      margin-top: 20px; }
  .seccionContacto .contactoInfoLocal {
    margin: 25px 0px 15px 0px;
    width: 250px; }
    .seccionContacto .contactoInfoLocal .imgContact {
      width: 250px; }
  .seccionContacto .formulario_ {
    width: 250px;
    margin-bottom: 15px; }
    .seccionContacto .formulario_ .formularioDatos_ {
      width: 198px;
      height: 150px; }
  .footerContainer {
    display: block;
    text-align: -webkit-center;
    width: 100%; }
    .footerContainer .footerContainer__section .section__titleOfSectionsFooterLast {
      text-align: center; }
    .footerContainer .footerContainer__section .list__titleOfSectionsFooter {
      text-align: center; }
    .footerContainer .footerContainer__section .section__cardsAccepted {
      width: 300px;
      height: 150px; } }
